# Nebula Sync Configuration
PRIMARY=http://10.100.0.11|{{ pihole_web_password }}
REPLICAS=http://10.100.0.10|{{ pihole_web_password }}
TZ={{ timezone }}
FULL_SYNC=true
RUN_GRAVITY=true

# Discord Webhook Configuration
WEBHOOK_SYNC_FAILURE_URL={{ discord_webhook_url }}
WEBHOOK_SYNC_FAILURE_METHOD=POST
WEBHOOK_SYNC_FAILURE_BODY=🔴 Nebula Sync 15 minute check failed
WEBHOOK_SYNC_FAILURE_HEADERS=Content-Type:application/json